tmp/*
06_nlp_scratch/data*
06_nlp_scratch/log/*
06_nlp_scratch/README
01_bases/data/MNIST
00_utils/data/MNIST

*.pth
*.pt
*.onnx
*.npy

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
