tmp/*
6_nlp_scratch/data*
6_nlp_scratch/log/*
6_nlp_scratch/README
01_bases/data/MNIST
1_fizzbuzz/TD1_CS.*
0_utils/data/MNIST

*.pth
*.pt
*.onnx
*.npy

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
